:root {
    --canvas-height: 60vh;
    --canvas-width: 60vh;
}

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#canvas1 {
    border: 5px solid gray;
    position: absolute;
    bottom: 7vh;
    left: 50%;
    transform: translate(-50%);
    width: var(--canvas-width);
    height: var(--canvas-height);
}

#canvas2 {
    border: 5px solid gray;
    position: absolute;
    bottom: 7vh;
    left: 50%;
    transform: translate(-50%);
    width: var(--canvas-width);
    height: var(--canvas-height);
}

.controls {
    position: absolute;
    z-index: 10;
    top: 7vh;
    width: 100vw;
    text-align: center;
}

.controls, select, option, button {
    font-size: 4vh;
}

.controls > * {
    margin: 0px;
    padding: 0px;
}

.controls > button {
    padding: 5px;
}

#spacer {
    display: inline-block;
    width: 50px;
}